<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SwitchToSignInPageServlet</servlet-name>
  	<display-name>SwitchToSignInPageServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.SwitchToSignInPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SwitchToLogInPageServlet</servlet-name>
  	<display-name>SwitchToLogInPageServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.SwitchToLogInPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogInServlet</servlet-name>
  	<display-name>LogInServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignInServlet</servlet-name>
  	<display-name>SignInServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductToListServlet</servlet-name>
  	<display-name>AddProductToListServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.AddProductToListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProductFromListServlet</servlet-name>
  	<display-name>DeleteProductFromListServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.DeleteProductFromListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BanUserByNameServlet</servlet-name>
  	<display-name>BanUserByNameServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.BanUserByNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductToCartServlet</servlet-name>
  	<display-name>AddProductToCartServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.AddProductToCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<display-name>CheckoutServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductSearchServlet</servlet-name>
  	<display-name>ProductSearchServlet</display-name>
  	<description></description>
  	<servlet-class>by.bsuir.fando.servlet.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SwitchToSignInPageServlet</servlet-name>
  	<url-pattern>/SwitchToSignInPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SwitchToLogInPageServlet</servlet-name>
  	<url-pattern>/SwitchToLogInPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInServlet</servlet-name>
  	<url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignInServlet</servlet-name>
  	<url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductToListServlet</servlet-name>
  	<url-pattern>/AddProductToListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProductFromListServlet</servlet-name>
  	<url-pattern>/DeleteProductFromListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BanUserByNameServlet</servlet-name>
  	<url-pattern>/BanUserByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductToCartServlet</servlet-name>
  	<url-pattern>/AddProductToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductSearchServlet</servlet-name>
  	<url-pattern>/ProductSearchServlet</url-pattern>
  </servlet-mapping>
 
</web-app>
